<div class="jumbotron">
  <div class="container">
    <h1>{{jbtHeading}}</h1>
    <p>{{jbtText}}</p>
    <p><a href="{{jbtBtnUrl}}" class="btn btn-primary btn-large">{{jbtBtnText}}</a></p>

  </div>
</div>